{{define "footer"}}
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">Copyright &copy; 2022 LensLocked</p>
        </div>
    </div>
{{end}}